body {
    font-family: Arial, sans-serif;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    width: 100%;
    
}

th,
td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #ff0707;
}

tr:hover {
    background-color: #ec9090;
}

label {
    display: block;
    margin-bottom: 5px;
}
select{
    background-color: red;
    color: white;
    font-size: 1em;
    border-radius: 10px;
    font-weight: bold;
}
input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ff0000;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

button:hover {
    background-color: #000000;
}